/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Goblin+One&family=Oswald:wght@200;300;400;500;600&family=Reggae+One&display=swap');

/*Global Rules*/
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
table, th, td {
  border: 1px solid rgba(0, 128, 0, 0.8);
  border-collapse: collapse;
  text-align: center;
}
th, td {
  padding: 10px;
}
p{
  font-family: 'Oswald', sans-serif;
}
.container {
  min-width: 100vw;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
/* Start Not Found Page */
.not_found{
  text-align: center;
  color: green;
  transform: translateY(-50px);
  font-family: 'Oswald', sans-serif;
  
}
.not_found svg{
  font-size: 90px;
}
.not_found .home_btn{
  border: none;
  outline: none;
  border: 1px solid rgba(0, 128, 0, 0.726);
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  background-color: white;
  color: green;
  padding: 2px 20px;
  margin: 10px 0px;
  transition: .4s;
}
.not_found .home_btn:hover{
  color: rgb(255, 255, 255);
  background: rgba(0, 128, 0, .8);
  border: 1px solid rgba(0, 128, 0, 0.726);
}
/* End Not Found Page */
/* Start Scroll Up */
.scroll-up{
  position: fixed;
  right: 30px;
  bottom: 70px;
  cursor: pointer;
  z-index: 10;
}
.scroll-up svg{
  color: green;
  font-size: 45px;
}
/* End Scroll Up */
/* Start Loader */
.loader{
  z-index: 5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(102, 139, 52, .86);;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.loader  div:nth-child(1) {
  border: 5px solid;
  border-right-color: rgba(255, 255, 255, 0.555);
  border-top-color: rgba(255, 255, 255, 0.555);
  border-left-color: rgba(255, 255, 255, 0.555);
  border-radius: 50%;
  padding: 70px;
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 3%);
  animation: Loader 1s ease-in-out 0s infinite;
}
.loader  div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loader div img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.loader div h2{
  color: rgb(201 ,255 ,153);
  text-shadow: 0 0 2px #3c5027;
  font-family: 'Goblin One', cursive;
}
.loader > h2{
  width: 100%;
  text-align: center;
  animation: Loader-opacity .9s ease-in-out 0s infinite none alternate;
}
@keyframes Loader-opacity {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}
@keyframes Loader {
  0%{
    transform:  translate(50%, 3%) rotateZ(0deg);
  }
  100%{
    transform:  translate(50%, 3%) rotateZ(360deg);
  }
}
/* End Loader */
/*Start navbar*/
nav{
  background-color: transparent;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}
nav .logo h1{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 25px;
  color: rgb(201 ,255 ,153);
  text-shadow: 0 0 2px #3c5027;
  font-family: 'Goblin One', cursive;
}
nav .collapse-menu ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}
nav .collapse-menu ul li{
  padding: 15px 25px;
  font-size: 24px;
  color: rgb(245, 245, 245);
  font-weight: 400;
  cursor: pointer;
  font-family: 'Reggae One', cursive;
  transition: .4s;
  position: relative;
}
nav .collapse-menu ul li:hover{
  color: rgb(201 ,255 ,153);
}
nav .collapse-menu ul li svg{
  display: block;
  color: rgba(255, 255, 255, 0.9);
  font-size: 24px;
  z-index: 2;
  font-family: 'Reggae One', cursive;
  transition: .4s;
  margin: 4px -23px 0 45px;
}
nav .collapse-menu ul li.cart-icon span{
  position: absolute;
  top: 14px;
  right: 15px;
  font-size: 13px;
  background: rgb(201 255 153);
  padding: 1px 7px;
  color: rgb(0, 128, 0);
  font-family: 'Oswald';
  font-weight: 500;
  border-radius: 50%;
}
nav .collapse-menu ul li svg:hover{
  color: rgb(201 ,255 ,153);
}
nav .collapse-menu svg{
  display: none;
}
nav .cart {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(700px);
  transition: .5s;
  background-color: rgba(154, 74 ,8 , .7);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
}
nav .cart.open {
  transform: translateX(0px);
}
nav .cart ul{
  width: 100%;
  margin: 0 0 10px;
  list-style-type: none;
  padding: 0;
}
nav .cart svg{
  cursor: pointer;
  font-size: 30px;
  color: rgb(255 ,255 ,255);
  margin-left: 80%;
  margin-top: 20px;
  display: block;
}
nav  .cart ul {
  margin-top: 10px;
}
nav  .cart ul li{
  border-bottom: 1px solid;
  margin: 5px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  color:rgb(255, 255, 255);
  font-family: 'Oswald', sans-serif;
}
nav .cart ul li.empty-cart{
  display: block;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}
nav .cart ul li.empty-cart svg{
  margin: 5px auto;
}
nav  .cart ul li .image-container{
  width: 100px;
  height: 100px;
  position: relative;
}
nav  .cart ul li .image-container img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
nav  .cart ul li .image-container span{
  position: absolute;
  top: -6px;
  left: -7px;
  background: rgb(201 ,255 ,153);
  color: rgb(0, 128, 0);
  font-size: 16px;
  padding: 0px 8px;
  border-radius: 50%;
}
nav .cart ul li .item-details{
  margin-top: 12px;
  margin-left: 10px;
  width: 200px;
}
nav .cart ul li .item-details h3 ,nav .cart ul li .item-details h4{
  margin: 0;
}
nav .cart ul li .item-details h5{
  display: inline-block;
}
nav .cart ul li .item-details svg{
  display: inline-block;
  font-size: 16px !important;
  margin: 0 15px 0;
}
nav .cart ul li .item-details .delete{
  color: rgb(255, 255, 255);
  font-size: 21px;
}
nav .cart .cart-footer{
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
nav .cart .cart-footer span{ 
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  margin: 10px auto 20px;
  display: block;
}
nav .cart .check-out, nav .cart .our-menu{
  cursor: pointer;
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 5px;
  background: rgb(154, 74, 8);
  color: rgb(255, 255, 255);
  font-size: 18px;
  margin: 10px 0px;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  transition: .4s;
  margin: auto;
}
nav .cart .check-out:hover, nav .cart .our-menu:hover{
  color: black;
  background: white;
}
nav .menu-icons {
  position: absolute;
  right: 30px;
  top: 24px;
  cursor: pointer;
  display: none;
}
nav .menu-icons span{
  display: block;
  width: 62px;
  height: 5px;
  margin: 2px 0;
  background: rgb(201 ,255 ,153);
  border-radius: 10px;
}
@media (min-width: 768px) and (max-width: 991.99px){
  nav{
    justify-content: center;
  }
  nav .collapse-menu{
    width: 0;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(154, 74 ,8 , .7);
    transition: .5s;
    position: absolute;
    top:0;
    right: 0;
  }
  nav .collapse-menu.open{
    width: 100vw;
  }
  nav .collapse-menu svg{
    font-size: 30px;
    color: rgb(255 ,255 ,255);
    margin-left: 80%;
    margin-top: 20px;
    display: block;
  }
  nav .collapse-menu svg:nth-child(2){
    margin: 10px auto 0;
  }
  nav .collapse-menu ul{
    display: block;
    text-align: center;
  }
  nav .menu-icons {
    display: block;
    transition: .3s;
  }
  nav .menu-icons.open {
    opacity: 0;
    visibility: hidden;
  }
  nav .cart-icon{
    position: relative;
    margin-left: 40px;
    cursor: pointer;
  }
  nav .cart-icon svg{
    color: rgb(201 ,255 ,153);
    font-size: 25px;
  }
  nav .cart-icon span{
    position: absolute;
    top: -3px;
    left: -6px;
    font-size: 10px;
    background: rgb(201 255 153);
    padding: 1px 7px;
    color: rgb(0, 128, 0);
    font-family: 'Oswald';
    font-weight: 500;
    border-radius: 50%;
  }
}
@media only screen and (max-width: 767.99px){
  nav{
    justify-content: flex-start;
  }
  nav .logo {
    margin-left: 20px;
  }
  nav .collapse-menu{
    width: 0;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(154, 74 ,8 , .7);
    transition: .5s;
    position: absolute;
    top:0;
    right: 0;
  }
  nav .collapse-menu.open{
    width: 100vw;
  }
  nav .collapse-menu svg{
    font-size: 30px;
    color: rgb(255 ,255 ,255);
    margin-left: 80%;
    margin-top: 20px;
    display: block;
  }
  nav .collapse-menu svg:nth-child(2){
    margin: 10px auto 0;
  }
  nav .collapse-menu ul{
    display: block;
    text-align: center;
  }
  nav .menu-icons {
    display: block;
    transition: .3s;
  }
  nav .menu-icons.open {
    opacity: 0;
    visibility: hidden;
  }
  nav .cart-icon{
    position: relative;
    margin-left: 40px;
    cursor: pointer;
  }
  nav .cart-icon svg{
    color: rgb(201 ,255 ,153);
    font-size: 23px;
  }
  nav .cart-icon span{
    position: absolute;
    top: -3px;
    left: -6px;
    font-size: 10px;
    background: rgb(201 255 153);
    padding: 1px 7px;
    color: rgb(0, 128, 0);
    font-family: 'Oswald';
    font-weight: 500;
    border-radius: 50%;
  }
}
@media only screen and (max-width: 576.99px){
  nav .logo{
    margin-left: 4px;
  }
  nav .logo h1{
    font-size: 22px;
  }
  nav .menu-icons{
    top: 20px;
    right: 10px;
  }
  nav .menu-icons span{
    width: 50px;
  }
}
/* End Navbar */
/* Start Main Banel */
.main_banel{
  margin-top: 0;
  background-color: rgb(63, 222, 93, .07);
  padding: 90px 0 30px;
  min-height: 400px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  transform: translateY(-100px);
  position: relative;
}
.main_banel .overlay{
  position: absolute;
  top: 0;
  bottom:0;
  right:0;
  left:0;
  background-color: rgba(0, 0, 0, 0.418);
  z-index: 1;
}
.main_banel h1{
  width: 100%;
  font-size: 50px;
  font-family: 'Goblin One', cursive;
  color: rgb(201 ,255 ,153);
  text-shadow: 0 0 3px  #3c5027;
  z-index: 1;
  margin-bottom: 1px;
}
.main_banel p{
  font-size: 25px;
  color: white;
  font-family: 'Oswald', sans-serif;
  z-index: 1;
  margin-top: 0;
}
@media only screen and (max-width: 576.99px){
  .main_banel h1{
      font-size: 30px;
  }
}
/* End Main Banel */
/* Start Reservations*/
.reservations{
  text-align: center;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reservations .header h2{
  font-size: 30px;
  font-family: 'Reggae One', cursive;
  color: rgb(21 ,138 ,21);
  text-shadow: 0 0 2px red;
  margin-bottom: 0;
}
.reservations .header p {
  font-size: 20px;
  color: green;
  text-align: center;
  margin: 0 25px;
  font-family: 'Oswald', sans-serif;
}
.reservations .header p::before {
    content: "";
    display: block;
    position: relative;
    height: 3px;
    width: 113px;
    background-color: rgb(249 ,197 ,106);
    margin: 5px auto;
}
.reservations .header p::after {
  content: "";
  display: block;
  position: relative;
  height: 3px;
  width: 113px;
  background-color: rgb(249 ,197 ,106);
  margin: 5px auto;
}
.reservations .body{
  box-shadow: 0  0 1px 0 red;
  border-radius: 5px;
  padding: 30px;
  margin: 10px 0 0;
  width: 50%;
}
.reservations .body .form_control{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 20px 0;
}
.reservations .body .form_control label{
  text-align: left;
  font-size: 20px;
  color: green;
  text-transform: capitalize;
  font-family: 'Oswald', sans-serif;
  width: 250px;
  margin: 5px 0;
}
.reservations .body .form_control input{
  width: 100%;
  margin-bottom: 5px;
  font-size: 19px;
  font-family: 'Oswald', sans-serif;
  border: none;
  outline: none;
  box-shadow: 0 0 1px 0 red;
  border-radius: 5px;
  padding: 5px;
}
.reservations .body .form_control .error{
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
  color:green;
  width: 100%;
}
.reservations .body button{
  cursor: pointer;
  border: none;
  outline: none;
  padding: 10px 22px;
  border-radius: 5px;
  background: rgb(154, 74, 8);
  color: rgb(255, 255, 255);
  font-size: 21px;
  margin: 10px 15px 0;
  transition: .4s;
  font-family: 'Oswald', sans-serif;
}
.reservations .body button:hover{
  background: rgb(224, 219, 219);
  color: black;
}
.reservations .footer{
  background-color: rgba(63, 222, 93, .07);
  width: 100%;
  margin-top: 5px;
  padding: 20px 5px;
}
.reservations .footer p{
  font-size: 20px;
  color: green;
  text-align: center;
  margin: 0 25px;
  font-family: 'Oswald', sans-serif;
}
.reservations .footer p span{
  font-weight: 600;
}
@media (max-width: 767.99px) {
  .reservations .body{
    width: 95%;
    padding: 30px 10px;
  }
}
/* End Reservations*/

/*Start Footer*/
footer{
  text-align: center;
  font-size: 14px;
  color: green;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0 0;
  padding: 20px 0 0 0;
}
footer .header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 300px;
  background-image: url('/footer_banel.jpg');
  background-size: cover;
  background-position: bottom right;
  background-repeat: no-repeat;
  position: relative;
  color: rgb(162, 206, 123);
}
footer .header .over-lay{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.486);
}
footer .header .about_us {
  width: 250px;
  text-align: center;
  z-index: 3;
}
footer .header .about_us h3{
  font-family: 'Reggae One', cursive;
  font-size: 19px;
}
footer .header .about_us h3::after {
  content: "";
  display: block;
  position: relative;
  height: 3px;
  width: 113px;
  background-color: rgb(249 ,197 ,106);
  margin: 5px auto;
}
footer .header .about_us  p {
  font-size: 17px;
}
footer .header .about_us span{
  font-size: 17px;
  position: relative;
  cursor: pointer;
}
footer .header .about_us span svg{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 2px 0 0 0;
}
footer .header .reach_us{
  z-index: 3;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px 0;
}
footer  .header .reach_us .social_media{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-size: 20px;
  width: 150px;
}
footer .header .reach_us .info div{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 35px;
}
footer .header .reach_us .info div h4{
  margin-left: 5px;
}
footer .footer{
  width: 100%;
  margin: 0;
  padding: 20px 0;
  background-color: rgb(162, 206, 123);
  font-size: 17px;
}
@media (max-width: 767.99px) {
  footer .header {
    background-position: center;
  }
  footer .header .reach_us{
    justify-content: center;
  }
}
@media  (max-width: 576.99px) {
  footer .header .reach_us .info div{
    justify-content: center;
  }
}
/* End Footer */